<!--Error page-->

<!DOCTYPE html>
<html>
   <head>
      <title>
         Main page*
      </title>
   </head>
<body>
   Hello! Please fill this out: </br>
   ** Please make sure all fields are filled out
   <form action="/login" method="post">
   	Rider weight (units):<!-- include a lb or kg option?-->
   	<input type="text" name="rider_weight"><br>
   	Board length (units):
   	<input type="text" name="board_length"><br>
   	Riding style:
   	<input type="radio" name="riding_style" value="Wonky" checked> Wonky
      <input type="radio" name="riding_style" value="Loopy"> Loopy
      <input type="radio" name="riding_style" value="Floppy"> Floppy </br>
      <input type="submit" value="Submit">
   </form>
</body>
</html>