<!--Error page-->

<!DOCTYPE html>
<html>
   <head>
      <title>
         Main page*
      </title>
   </head>
<body>
   Hello! Please fill this out: </br>
   ** Please make sure all fields are filled out
   <form action="/download" method="post">
      Rider weight (units):<!-- include a lb or kg option?-->
      <input type="text" name="rider_weight"><br>
      Riding style:
      <input type="radio" name="riding_style" value="0" checked> 0
      <input type="radio" name="riding_style" value="1"> 1
      <input type="radio" name="riding_style" value="2"> 2 </br>
      <input type="submit" value="Submit">
   </form>
</body>
</html>